# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pyd
*.pyo

# Virtual environment
.venv/
env/
venv/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Database (if local)
*.sqlite3
